# Compiled class file
.idea
.gradle

message-bus-model/build
message-bus-model/src/main/generated
message-bus-model/out

message-consumer/build
message-consumer/src/main/generated
message-consumer/out

message-producer/build
message-producer/src/main/generated
message-producer/out
